*{
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

#who a{
  text-decoration: none;
  color: black;
}

#who a:hover{
  text-decoration: none;
  font-weight: bold;
}

#social{
  margin: 0px;
}

#social img{
  padding: 5px;  
  vertical-align: middle;
}


#name_who_social_box{ 
  /*position: relative;*/
  /*background-color: #999999;*/
  color: white;
  height: 300px;
  width: 100%;
  display:table;
  color: black;
}


#name_who_social{
  /*position: absolute;
  left: 50%;
  top:40%;
  transform: translateX(-50%);
  text-align: center;*/
  text-align: center;
  vertical-align:middle;
  display:table-cell;
}

#name{
  font-size: 50px;
  font-weight: bold;  
}

#options{
  margin-left: 25%;
  margin-right: 25%;
}



#options p{
  font-size: 17px;
  line-height: 2em;
}

.titles{
  font-size: 30px;
  font-weight: bold;
}


a{
  text-decoration: none;
  color: black;
}

a:hover{
  font-weight: bold;
}


@media only screen and (max-width: 700px) {
  #options{
    margin-left: 5%;
    margin-right: 5%;
    
  }
}
