*{
  margin: 0 auto;
  font-family: Verdana;
}

#name_who_social_box{ 
  position: relative;
  background-color: #bfbfbf;
  color: white;
  height: 400px;
}

#name_who_social{
  position: absolute;
  left: 50%;
  top:40%;
  transform: translateX(-50%);
  text-align: center; 
}

#name{
  font-size: 30px;
  font-weight: bold;
  
}

#options{
  
}

#projects{
  font-size:20px;
  font-weight: bold;
}

#education{
  font-size:20px;
  font-weight: bold;
}

#experience{
  font-size:20px;
  font-weight: bold;
}

#contact{
  font-size:20px;
  font-weight: bold;
}


p{
  font-size:12px;
}
